In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline 
%config Completer.use_jedi = False

In [3]:
# Average firing rate smoothed using 60 msec running mean 
# Only correct choices were included

In [4]:
roitman_data = pd.read_csv("roitman_data.csv")
max_time = roitman_data['time'].max() # why does python not have constant/static variables 
num_timepoints = int(max_time/5)

In [5]:
roitman_data

,count,time,trial,stimulus,coherence,choice,correct,unit,into_RF
0,0,0,1,71,0,1,1,107,1
1,0,0,22,71,0,1,1,107,1
2,0,0,31,71,0,1,1,107,1
3,0,0,46,71,0,1,1,107,1
4,0,0,61,71,0,1,1,107,1
...,...,...,...,...,...,...,...,...,...
514315,0,1040,17,81,0,2,1,129,0
514316,0,1040,58,81,0,2,1,129,0
514317,0,1040,67,81,0,2,1,129,0
514318,0,1040,3,81,0,2,1,130,0
514319,0,1040,40,81,0,2,1,130,0

In [101]:
class spike_bins:
    def __init__(self, coherence, correct, raw_spikes):
        self.coherence = coherence 
        self.correct = correct 
        self.raw_spikes = raw_spikes
        self.get_counts()
        
    def get_counts(self):
        counts = np.empty([0], dtype=int)
        input_pd = self.raw_spikes
        num_units = 0 
        for i in range(num_timepoints+1):
            counts = np.append(counts, sum(input_pd[input_pd['time'] == i*5]['count']))
            num_units += len(input_pd[input_pd['time'] == i*5])
        #output_counts = pd.DataFrame(np.vstack((np.array(range(num_timepoints+1))*5, counts)).T, columns = ['times', 'total_spikes'])
        setattr(self, "total_spikes", counts)

In [102]:
spikes = [] 
for value in roitman_data.coherence.unique():
    spikes.append(spike_bins(value, 'correct', 
                             roitman_data[(roitman_data.coherence == value) & (roitman_data.correct == 1)]))
    
    spikes.append(spike_bins(value, 'incorrect', 
                             roitman_data[(roitman_data.coherence == value) & (roitman_data.correct == 0)]))

In [103]:
len(spikes)

12

In [104]:
spikes[11].raw_spikes

,count,time,trial,stimulus,coherence,choice,correct,unit,into_RF
412766,1,0,21,83,64,1,0,623,0
412942,0,5,21,83,64,1,0,623,0
413118,0,10,21,83,64,1,0,623,0
413294,0,15,21,83,64,1,0,623,0
413470,1,20,21,83,64,1,0,623,0
...,...,...,...,...,...,...,...,...,...
488632,0,1005,35,73,64,2,0,615,1
488828,0,1010,35,73,64,2,0,615,1
489024,0,1015,35,73,64,2,0,615,1
489220,0,1020,35,73,64,2,0,615,1
489416,0,1025,35,73,64,2,0,615,1

In [105]:
dir(spikes[10])

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'coherence',
 'correct',
 'get_counts',
 'raw_spikes',
 'total_spikes']

In [106]:
counts = spikes[10].total_spikes
counts

array([74, 63, 57, 59, 73, 74, 79, 58, 60, 53, 62, 75, 61, 64, 57, 65, 73,
       79, 65, 63, 74, 74, 68, 69, 60, 69, 78, 52, 73, 61, 64, 81, 74, 74,
       65, 65, 59, 59, 56, 56, 76, 62, 67, 70, 58, 71, 58, 71, 67, 62, 59,
       66, 58, 80, 72, 65, 78, 62, 73, 51, 68, 63, 76, 70, 71, 63, 63, 56,
       71, 72, 67, 64, 65, 77, 73, 65, 62, 66, 56, 64, 72, 71, 71, 54, 64,
       70, 59, 63, 65, 77, 76, 66, 62, 72, 58, 68, 61, 63, 52, 64, 72, 67,
       74, 53, 67, 66, 72, 67, 72, 77, 56, 76, 65, 67, 71, 71, 60, 66, 71,
       67, 73, 85, 48, 61, 73, 53, 63, 63, 58, 65, 52, 65, 60, 76, 57, 72,
       80, 74, 58, 60, 51, 54, 70, 74, 66, 59, 58, 53, 66, 81, 58, 66, 67,
       74, 67, 62, 65, 67, 47, 58, 57, 66, 59, 60, 70, 55, 72, 64, 50, 63,
       64, 63, 57, 57, 68, 56, 57, 66, 63, 63, 58, 68, 54, 71, 65, 58, 64,
       63, 63, 51, 73, 77, 58, 72, 64, 61, 70, 82, 54, 50, 61, 63, 66, 59,
       62, 79, 27, 25, 37])

In [107]:
pd.Series(counts)

0      74
1      63
2      57
3      59
4      73
       ..
204    62
205    79
206    27
207    25
208    37
Length: 209, dtype: int64

In [111]:
np.array(pd.Series(counts).rolling(8).mean())

array([   nan,    nan,    nan,    nan,    nan,    nan,    nan, 67.125,
       65.375, 64.125, 64.75 , 66.75 , 65.25 , 64.   , 61.25 , 62.125,
       63.75 , 67.   , 67.375, 65.875, 67.5  , 68.75 , 70.125, 70.625,
       69.   , 67.75 , 69.375, 68.   , 67.875, 66.25 , 65.75 , 67.25 ,
       69.   , 69.625, 68.   , 69.625, 67.875, 67.625, 66.625, 63.5  ,
       63.75 , 62.25 , 62.5  , 63.125, 63.   , 64.5  , 64.75 , 66.625,
       65.5  , 65.5  , 64.5  , 64.   , 64.   , 65.125, 66.875, 66.125,
       67.5  , 67.5  , 69.25 , 67.375, 68.625, 66.5  , 67.   , 67.625,
       66.75 , 66.875, 65.625, 66.25 , 66.625, 67.75 , 66.625, 65.875,
       65.125, 66.875, 68.125, 69.25 , 68.125, 67.375, 66.   , 66.   ,
       66.875, 66.125, 65.875, 64.5  , 64.75 , 65.25 , 65.625, 65.5  ,
       64.625, 65.375, 66.   , 67.5  , 67.25 , 67.5  , 67.375, 68.   ,
       67.5  , 65.75 , 62.75 , 62.5  , 63.75 , 63.125, 65.125, 63.25 ,
       64.   , 64.375, 66.875, 67.25 , 67.25 , 68.5  , 66.25 , 69.125,
       68.875, 69.   , 68.875, 69.375, 67.875, 66.5  , 68.375, 67.25 ,
       68.25 , 70.5  , 67.625, 66.375, 68.   , 66.375, 65.375, 64.875,
       63.   , 60.5  , 61.   , 61.5  , 59.875, 62.75 , 62.   , 63.125,
       65.875, 67.   , 67.75 , 67.125, 66.   , 63.25 , 64.875, 65.125,
       63.375, 61.5  , 61.5  , 60.625, 62.5  , 65.875, 64.375, 63.375,
       63.5  , 65.375, 66.5  , 67.625, 67.5  , 65.75 , 64.375, 63.375,
       62.125, 61.125, 60.125, 59.875, 60.5  , 59.   , 62.125, 62.875,
       62.   , 61.625, 62.25 , 62.625, 61.   , 61.25 , 60.75 , 59.75 ,
       60.625, 61.   , 60.875, 60.875, 61.   , 62.375, 60.625, 62.5  ,
       63.5  , 62.5  , 62.625, 62.625, 63.25 , 61.125, 63.5  , 64.25 ,
       63.375, 65.125, 65.125, 64.875, 65.75 , 69.625, 67.25 , 63.875,
       64.25 , 63.125, 63.375, 63.125, 62.125, 61.75 , 58.375, 55.25 ,
       52.25 ])

In [109]:
windows

Rolling [window=8,center=False,axis=0,method=single]